
:root {
    --nas: rgb(38, 178, 31);
    --Jcole: rgb(229, 226, 36);
    --Biggie: olive;
    --HxH: black;
    --OnePiece: blue;

  }

  body { 
    margin:15px;
    line-height: 2.3;
    

  }
 
.header {
  margin: 4px;
  padding: 4px;
  border-bottom: 3px solid black;
  display:block;
 
  }

  .cstm-h1 {
    text-align: center;
    color: var(--HxH);

  }

  .cstm-h2:hover{
    color: var(--OnePiece);
    font-size: 45px;

  }


  .navBar{
    text-align: center;
      
  }
  .navList{
    list-style: none;
  
  }

  .firstPicOfMe {
    text-align: center;

  }
  
  main {
    background-color: goldenrod;
    margin-right: 40%;
  
  }


  .aboutMeArt {
   margin-bottom: 8px;
   border-style: solid;
   border-width: 5px;
   padding: 7px;

  }

  .picOfMe2 {
   text-align: center ;
  }

  h2 {
    text-align: center;
    font-size: 25px;

  }

  .aboutMePara {
    border-bottom: 3px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .sidebar{
    border-left: 6 px;
    padding: 10px 15px;

  }

.footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: var(--dark);
    color: var(--light);
    margin-top: auto;
   
}
:target{
  border-width: 4px;
  border-color: var(--Jcole);
}


@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}